*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgb(85, 88, 88);
}
main{
    height: 100vh;
    width: 1500px; 
}
header{
    height: 60px;
    width: 1560px;
    background-color: rgb(174, 221, 248);
    padding-left: 70px;
    display: flex;
    padding-top: 15px;
    position: fixed;
}
#ct{
    margin-left: 1100px;
    padding-right: 70px;
}
.a{
    padding-top: 90px; 
    padding-left: 180px;
}
.b{
    padding-bottom: 40px;
}
.c,.h,.m{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
    padding-bottom: 40px;    
}
.d,.e,.f,.g,.i,.j,.k,.l,.n,.o,.p,.q{
    height: 300px;
    width: 240px;
    background-color: white;
    padding-left: 26px;
    padding-right: 25px;
    padding-top: 25px;
    border-radius: 15px;
}
img{
    height: 200px ;
    width: 185px;
    border-radius: 15px;
}
h3{
    padding-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 160px;
}
#ctt{
    padding-left: 170px;  
    display: grid;
    margin-top: -30px;
    font-size: 25px;
}


